<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gym Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <h1>🏋️‍♂️ Welcome to Gym Management System</h1>
        <div class="buttons">
            <a href="/admin/dashboard" class="btn">Gym Admin</a>
            <a href="#" class="btn">Gym Member</a> <!-- You can later link to /member/login -->
        </div>
    </div>
</body>
</html>
